@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  .linear-gradient {
    --background: 230 65% 3.36%;
    --foreground: 230 10% 97.1%;

    --muted: 230 50% 12.6%;
    --muted-foreground: 230 10% 54.2%;

    --popover: 230 45% 5.46%;
    --popover-foreground: 230 10% 97.1%;

    --card: 230 45% 5.46%;
    --card-foreground: 230 10% 97.1%;

    --border: 230 50% 12.6%;
    --input: 230 50% 12.6%;

    --primary: 230 100% 42%;
    --primary-foreground: 230 10% 97.1%;

    --secondary: 230 50% 12.6%;
    --secondary-foreground: 230 10% 97.1%;

    --accent: 230 50% 12.6%;
    --accent-foreground: 230 10% 97.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 230 10% 97.1%;

    --ring: 230 100% 42%;
  }

  .linear-gradient-2 {
    --background: 223 100% 98.46%;
    --foreground: 223 10% 0.92%;

    --muted: 223 10% 92.3%;
    --muted-foreground: 223 5% 42.3%;

    --popover: 223 10% 92.3%;
    --popover-foreground: 223 10% 1.1500000000000001%;

    --card: 223 10% 92.3%;
    --card-foreground: 223 10% 1.1500000000000001%;

    --border: 223 15% 89.92%;
    --input: 223 15% 89.92%;

    --primary: 223 100% 23%;
    --primary-foreground: 223 2% 92.3%;

    --secondary: 223 5% 96.15%;
    --secondary-foreground: 223 7% 12.3%;

    --accent: 223 5% 96.15%;
    --accent-foreground: 223 7% 12.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 223 100% 23%;

    --radius: 0.5rem;
  }

  .purple {
    --background: 287 65% 4%;
    --foreground: 287 10% 97.5%;

    --muted: 287 50% 15%;
    --muted-foreground: 287 10% 55%;

    --popover: 287 45% 6.5%;
    --popover-foreground: 287 10% 97.5%;

    --card: 287 45% 6.5%;
    --card-foreground: 287 10% 97.5%;

    --border: 287 50% 15%;
    --input: 287 50% 15%;

    --primary: 287 100% 50%;
    --primary-foreground: 287 10% 5%;

    --secondary: 287 50% 15%;
    --secondary-foreground: 287 10% 97.5%;

    --accent: 287 50% 15%;
    --accent-foreground: 287 10% 97.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 287 10% 97.5%;

    --ring: 287 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
